.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
!src/webview/ui/**
test/**
node_modules/**
docs/**
.claude/**
.gitignore
tsconfig.json
esbuild.js
firebase-debug.log
**/*.map
out/src/**
out/test/**
